<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table>
    <thead>
        <th>Title</th>
        <th>Rating</th>
        <th>Release date</th>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <td> <%movie.title%> </td>
        <td> <%movie.rating%> </td>
        <td> <%movie.release_date%> </td>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New movie", new_movie_path %>
